button {
  float: left; background-color: #60b5cc; border: 0; color: rgb(44, 44, 44);
  font-size: 24px;
  cursor: pointer;
  padding: 10px 30px;
}

button:hover {
  background-color: #80d5ec;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
td {
    width: 81px;
    height: 81px;
    border: 2px solid #60b5cc;
    background-color: #80d5ec;
}
