html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button {
  float: left; background-color: #60b5cc; border: 0; color: rgb(44, 44, 44);
  font-size: 24px;
  cursor: pointer;
  padding: 10px 30px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

button:hover {
  background-color: #80d5ec;
}

.dice {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    caption-side: bottom;
}
.die {
    width: 85px;
    height: 85px;
    border: 2px solid #306277;
}
table {
    background-color: #80d5ec;
}
td a {
    display:block;
    width:100%;
}
.scorepad {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    caption-side: bottom;

}
.summation-row {
    background-color: #60b5cc 
}
.in-use {
    border: 2px solid #306277;
    height: 30px;
    width: 30px;
}
.available {
    border: 2px solid #306277;
    height: 30px;
    width: 30px;
    background-color: #a7f542;
}
.caption {
    border: 2px solid #306277;
    height: 30px;
    padding: 0px 10px;
}

