h1 {
  font-size: 24px;
}
html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rolls-left {
  border: 2px solid #306277;
  height: 25px;
  padding: 0px 10px;
  background-color: #ffffff;
}

td.suggestion {
  height: 35px;
  text-align: center;
  background-color: #ffffff;
}
td.dice-button {
  vertical-align: bottom;
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 7px;
}
.undo {
  height: 25px;
  font-size: 14px;
  background-color: #a2da27;
}
button.roll-dice {
  background-color: #92ca17;
  border: 0;
  color: #444444;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 40px;
}
button.roll-dice:hover {
  background-color: #87c512;
}

button.dont-roll-dice {
  background-color: #c8c8c8;
  border: 0;
  color: #444444;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 40px;
}

.dice {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    caption-side: bottom;
}
.die {
    width: 58px;
    height: 58px;
    border: 2px solid #306277;
}
table {
    background-color: #80d5ec;
}
.scorepad {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    caption-side: bottom;

}
.score-top {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
}
.summation-row {
    background-color: #60b5cc 
}
.score-row {
    height: 33px;
}
.in-use {
    border: 2px solid #306277;
    width: 40px;
}
td.available {
  border: 2px solid #306277;
  width: 40px;
  background-color: #a7f542;
}
td.available button {
  display:block;
  width:100%;
  height:100%;
  background-color: #a7f542;
  border: 0;
}
.available.abundant {
  background-color: #3de35c;
}
.available.abundant button {
  background-color: #3de35c;
}
.available.meager {
  background-color: #dbffab;
}
.available.meager button {
  background-color: #dbffab;
}
.caption {
    border: 2px solid #306277;
    height: 25px;
    padding: 0px 10px;
}

